@charset "utf-8";

/* web common */
	html{overflow-y: scroll}
	body{font-size: 13px;}
	em{display: inline;}
	a, button, input, select{font-size: 13px; outline: 0;}
	body.hidden{overflow: hidden; height: 100%;}

/*버튼정의*/
.btn{min-width: 90px; height: 36px; padding: 0 20px; line-height: 36px; font-weight: 700; color: #fff; text-align: center; transition: background .1s}
.btn.red{background-color: #c6464b}
.btn.red:active{background-color: #96181c;}
.btn.grey{background-color: #888}
.btn.white{background-color: #fff; color: #1a6fa0; border: 1px solid #1a6fa0; line-height: 34px;}
.btnBorder{min-width: 86px; height: 24px; padding: 0 14px; font-size: 13px; line-height: 22px; color: #333; text-align: center; border: 1px solid #bbb}
.btnBorder.blue{border-color: #1a6fa0; color: #1a6fa0;}
.btnGroup{position: relative; font-size: 0; text-align: center;}
.btnGroup > *{display: inline-block}
.btnGroup > * + *{margin-left: 8px}
.btnGroup.btm{display: block; margin: 30px 0 0; text-align: center}
.btnGroup.btm > *{height: 42px; line-height: 42px;}
.btnGroup.btm > *:only-child{width: 100%; font-size: 16px;}
.searchBtn{width: 36px; height: 36px; background: url(../images/m/icon_search.svg) no-repeat center; text-indent: -9999px; cursor: pointer;}

/*툴팁*/
.tooltip{margin: 0 0 0 3px;}
.tooltip .tipIcon{position: relative; display: inline-block; width: 16px; height: 16px; background: url(../images/common/icon_tooltip.svg) no-repeat center; background-size: 16px; text-indent: -9999px;}
.tooltip .tipIcon:after{display: none; content: ''; position: absolute; top: 20px; left: 0; width: 16px; height: 16px; background: url(../images/arrow_tooltip.png) no-repeat; z-index: 2}
.tooltip .tipTxt{display: none; position: absolute; top: 100%; left: 0; width: 100%; margin-top: 8px; z-index: 1;}
.tooltip .tipTxt > em{position: relative; display: inline-block; padding: 14px 30px 14px 16px; background-color: #f4f4f4; border: 1px solid #999; color: #333; font-size: 12.5px; font-weight: 400; line-height: 1.38; white-space: normal; text-align: left; cursor: default; box-shadow: 1px 3px 5px rgba(0,0,0,0.2);}
.tooltip .tipTxt .closeTip{width: 30px; height: 30px; position: absolute; top: 0; right: 1px; background: url(../images/common/btn_x_black.svg) no-repeat center; background-size: 13px; text-indent: -9999px;}
.tooltip.on .tipIcon:after{display: block;}
.active .tooltip .tipIcon{background: url(../images/common/icon_tooltip_red.svg) no-repeat center; background-size: 16px;}


/*탑버튼*/
.topButtonArea{position: absolute; left: 50%; width: 1200px; margin-left: -600px;}
.topButtonArea.fix{position: fixed; bottom: 0;}
.backTop{display: block; position: absolute; bottom: 0; right: -36px; z-index: 999; width: 36px; height: 36px; text-indent: -9999px; background: #2a2b2c url(../images/btn_top.png) no-repeat; transition: background .1s; cursor: pointer;}

/*탭메뉴*/
.tabMenu{position: relative; display: inline-flex; width: 100%; margin: 26px 0 23px;}
.tabMenu em.red{color: #666}
.tabMenu li{flex: 1; border: 1px solid #dadada; border-right: 0; outline-offset: -1px;}
.tabMenu li:last-of-type{border-right: 1px solid #dadada;}
.tabMenu button{width: 100%; font-size: 13px; color: #666; }
.tabMenu li.active + li{border-left: 1px solid #fff}
.tabMenu li.active em.red{color: #bf3f44}
.tabMenu li.active{outline: 1px solid #c6464b;}
.tabMenu li.active button{color: #c6464b;}
.tabBox{margin-top: -1px}
.tabBox + .tabBox{display: none}

.viewBox .tabMenu li button{padding: 9px 10px; height: 54px; font-weight: 500; line-height: 1.38; white-space: normal; text-align: left;}

/*뷰박스*/
.viewBox{margin: 0 -20px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada}
.viewBox + .viewBox{border-top: 0;}
.viewBox.open{border-color: #333;}
.viewBox .titleBox{position: relative; padding: 12.5px 20px; cursor: pointer;}
.viewBox .titleBox p{font-size: 15px; line-height: 20px}
.viewBox .titleBox .openBtn{display: block; position: absolute; top: 0; right: 0; width: 42px; height: 100%; padding: 0 21px; text-align: center;}
.viewBox .titleBox .openBtn:before,
.viewBox .titleBox .openBtn:after{position: absolute; top: 50%; left: 50%; content: ''; display: block; width: 11px; height: 1px; margin: -0.5px 0 0 -5.5px; background-color: #444; transition: .1s;}
.viewBox .titleBox .openBtn:after{transform: rotate(-90deg);}
.viewBox.open .titleBox .openBtn:after{transform: rotate(0deg);}
.viewBox.open .titleBox p{font-weight: 500;}
.viewBox .contBox{display: none; padding: 20px; border-top: 1px solid #dadada; line-height: 1.4}
.viewBox .closeUp{display: block; width: 100%; padding: 8px 0 9px; margin:  10px 0 -20px; border-top: 1px solid #dadada;}
.viewBox .txtTable{border-bottom: 0}
.viewBox .addTxt{margin-top: 8px; color: #333}
.viewBox.open .titleBox{background-color: #333; border-color: #333}
.viewBox.open .titleBox p{color: #fff}
.viewBox.open .titleBox .openBtn:before, 
.viewBox.open .titleBox .openBtn:after{background-color: #fff}
.viewBox .listNum2{margin: 8px 0 0;}
.viewBox .listNumber{margin-top: 0;}
.viewBox .listNumber > li + li{margin-top: 2px;}
.viewBox .fileDown{display: inline-flex; width: calc(100% + 24px); margin: 0 -12px;}
.viewBox .fileDown .btn{flex: 1; min-width: auto; height: 50px; padding: 8px 10px; line-height: 1.38; font-size: 13px; font-weight: 400; white-space: normal;}
.viewBox .fileDown .btn + .btn{margin-left: 3px;}
.resultVisa + .resultVisa{border-top: 10px solid #f4f4f4;}
.resultVisa + .resultVisa .titleBox{border-top: 1px solid #dadada}
.resultVisa.viewBox.open{border-bottom: 1px solid #dadada;}

/*Front*/
.frontCont{margin: 0 auto; padding: 30px 20px 50px;}
.frontCont h2{margin-bottom: 24px; font-size: 20px; font-weight: 500; text-transform: uppercase;}
.frontCont h3{margin-bottom: 10px; font-size: 16px; font-weight: 500}
.frontCont h3 em{margin-left: 2px; font-size: 13px; color: #666; vertical-align: baseline; white-space: nowrap;}
.frontCont h3 + p.txt{line-height: 1.38}
.frontCont h4{margin: 30px 0 10px; font-size: 15px; font-weight: 500}
.frontCont h4 + p.txt{line-height: 1.38; color: #666}
hr.line{margin: 32px 0; height: 1px; background-color: #dadada}
.addTxt{font-size: 13px; color: #666}

/*table*/
.table{text-align: center; table-layout: auto}
.table .pad{padding-right: 5px; padding-left: 5px}
.table thead{background-color: #f4f4f4; border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7}
.table thead th{padding: 10px 0; font-size: 14px; font-weight: 500; line-height: 16px; vertical-align: middle}
.table thead tr + tr th{border-top: 1px solid #d7d7d7}
.table tbody tr{border-bottom: 1px solid #dadada}
.table tbody td{padding: 10px 0; line-height: 16px}
.table tbody td > p{padding: 0 10px}

/*레이아웃*/
.wrap{position: relative;}
.inner{margin: 0 auto; padding: 0 20px;}
.header{position: relative; border-bottom: 1px solid #cecece}
.header > .inner{position: relative; height: 56px; padding: 17px 86px 15px; text-align: center;}
.header h1{display: inline-block}
.header h1 a{display: block; font-size: 20px; font-weight: 500; line-height: 24px; color: #000}
.header .btnWrap{position: absolute; top: 0; right: 0; height: 100%; padding: 0 15px; font-size: 0;}
.header .btnWrap button{height: 56px;}
.header .searchBtn{width: 32px; background-size: 17px}
.header .gnbBtn{width: 32px; background: url(../images/m/btn_gnb.svg) no-repeat center; background-size: 22px auto; text-indent: -9999px;}
.footer{padding: 22px 0 26px; background-color: #efefef; border-top: 1px solid #dcdcdc; color: #666}
.footer span{display: block; margin-bottom: 8px; font-size: 13px; font-weight: 500}
.footer address{font-size: 12px; line-height: 1.5}

nav{position: absolute; top: 0; right: -100%; width: 100%; height: 100%; z-index: 10; display: none;}
nav:before{display: block; content: ''; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7);}
nav .navBox{position: absolute; top: 0; right: 0; width: 70%; max-width: 400px; min-width: 210px; height: 100vh; background-color: #f5f5f5; color: #000; text-align: left; overflow: hidden; z-index: 1}
nav .lang{padding: 13px 20px; font-size: 0}
nav .lang li{position: relative; display: inline-block; line-height: 30px}
nav .lang li + li:before{position: absolute; top: 50%; left: 0; display: block; content: ''; width: 1px; height: 12px; margin-top: -5px; background-color: #ccc}
nav .lang li:first-of-type a{padding-left: 0;}
nav .lang li a{padding: 0 12px; color: #666;}
nav .lang .active a{color: #000}
nav .gnb{padding: 5px 20px 20px;}
nav .gnb li a{display: block; padding: 10px 0; color: #666; font-size: 17px;}
nav .gnb li.active a{color: #000; font-weight: 500}
nav .gnbClose{position: absolute; top: 0; right: 0; width: 56px; height: 56px; background: url(../images/common/btn_x_black2.svg) no-repeat center; background-size: 14px auto; text-indent: -9999px; z-index: 1}	

.searchTop{display: none; position: absolute; top: 0; right: 100%; width: 100%; background-color: #fff; border-bottom: 1px solid #c6464b; z-index: 10}
.searchTop .back{position: absolute; top: 0; left: 0; width: 56px; height: 56px; background: url(../images/m/btn_back.png) no-repeat center; background-size: 23px; text-indent: -9999px;}
.searchTop .searchArea{position: relative; padding: 0 45px 0 56px;}
.searchTop .inputWrap{position: relative; width: 100%; padding-right: 30px;}
.searchTop input[type="text"]{width: 100%; height: 56px; font-size: 16px;}
.searchTop .btnDel{position: absolute; top: 0; right: 0; width: 30px; height: 100%; background: url(../images/common/btn_x_black.svg) no-repeat center; background-size: 14px; text-indent: -9999px;}
.searchTop .searchBtn{position: absolute; top: 0; right: 15px; display: block; width: 30px; height: 100%;}

.topVisual{padding: 30px 0 0; margin-bottom: 20px; background: url(../images/m/bg_visual.png) repeat-x center 0; color: #fff; background-size: 1650px;}
.topVisual .inner{position: relative;}
.topVisual .inner:before{display: block; content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 58px; background-color: #fff;}
.topVisual .title{font-size: 22px; line-height: 1.45}
.topVisual .desc{height: 116px; padding: 16px 0 0; font-size: 14px; line-height: 1.45}
.topVisual .linkMore{height: 40px; margin: 16px 0 0; padding: 0 23px; border: 1px solid #fff; font-size: 15px; line-height: 38px; transition: background .1s}
.topVisual .linkMore:after{content: ''; display: inline-block; width: 24px; height: 14px; margin: 0 0 0 16px; background: url(../images/btn_arrow_link.png) no-repeat center top; vertical-align: middle;}
.topVisual .linkMore:active{background-color: rgba(0,0,0,0.3);}
.finderWrap{position: relative; margin-top: 18px; padding-top: 12px; z-index: 1}
.stepNavi{padding: 0 12px; background-color: rgba(255,255,255,0.7); border-radius: 10px; overflow: hidden; box-shadow: 5px 5px 10px rgba(0,0,0,0.3)}
.stepNavi p{display: inline-flex; width: 100%; height: 20px; align-items: center;}
.stepNavi p > *{display: inline-block; font-size: 11px; line-height: 20px; white-space: nowrap;}
.stepNavi .step{margin-right: 9px; color: #c6464b; text-transform: uppercase;}
.stepNavi .step b{margin-left: 3px; font-size: 13px; line-height: 20px;}
.stepNavi .bar{position: relative; width: 100%;}
.stepNavi .bar:after{	display: block; content: ''; height: 7px; border-radius: 5px;
	background: #dd6065;
	background: -moz-linear-gradient(left,  #dd6065 0%, #961b1f 100%);
	background: -webkit-linear-gradient(left,  #dd6065 0%,#961b1f 100%);
	background: linear-gradient(to right,  #dd6065 0%,#961b1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6065', endColorstr='#961b1f',GradientType=1);
}
.stepNavi.step1 .bar:after{width: 33%;}
.stepNavi.step2 .bar:after{width: 66%;}
.stepNavi.step3 .bar:after{width: 100%;}
.stepNavi .num{margin-left: 10px; color: #666; letter-spacing: 0}
.stepNavi .num em{color: #333}

.finder{margin: 12px 0 0; padding: 20px 20px 0; color: #333; background-color: #fff; border-radius: 4px 4px 6px 6px; box-shadow: 0px 5px 9px rgba(0,0,0,0.32)}
.finder select{width: 100%; height: 36px; padding: 0 34px 0 10px; border: 1px solid #dd5c61; font-size: 14px; letter-spacing: -.02em;	background: #fff url(../images/m/select.png) no-repeat right 10px center; background-size: 15px;}
.finder .line{position: relative; display: inline-flex; width: 100%; line-height: 36px; text-align: left; font-size: 0;}
.finder .line + .line{margin-top: 14px; padding-top: 14px; border-top: 1px solid #dadada}
.finder .line > *{font-size: 14px;}
.finder .line span{flex: none;}
.finder .line select{margin: 0 8px 0 10px;}
.finder .line + .text{padding-top: 11px; font-size: 14px;}
.finder .line.disabled{opacity: .5;}
.finder .line.disabled .NextBtn{display: none;}
.finder .line.disabled select, .finder select:disabled{border-color: #888;}
.finder .line.disabled + .text{opacity: .5;}
.finder .NextBtn{display: block; width: calc(100% + 40px); height: 44px; margin: 22px -20px 0; font-size: 16px; line-height: 44px; border-radius: 0 0 4px 4px; background-color: #c6464b; color: #fff; font-weight: 700; text-align: center; transition: .1s}
.finder .NextBtn:active{background-color: #96181c;}
.finder .detail{margin: 14px 0 0; padding: 14px 0 0; font-size: 0; line-height: 16px; border-top: 1px solid #dadada}
.finder .detail .detailOption{position: relative; display: inline-block; width: 50%; font-size: 14px;}
.finder .detail .detailOption em{display: block; margin: 0 0 6px; font-weight: 500;}
.finder .detail .detailOption:first-of-type{padding-right: 7px;}
.finder .detail .detailOption:last-of-type{padding-left: 7px;}

/*Quick Finder*/
.finderManual{width: 100%;}
.finderManual li{position: relative; display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex; align-items: center; padding: 22px 34px; background-color: #f4f4f4; border-radius: 12px;}
.finderManual li p{padding-bottom: 4px; line-height: 1.4; color: #666}
.finderManual li b{display: block; margin-bottom: 8px; color: #c6464b; line-height: 1}
.finderManual li b em{margin-left: 4px; font-size: 18px; vertical-align: baseline;}
.finderManual li:before{display: inline-block; flex: none; content: ''; width: 58px; height: 50px; margin: 0 18px 2px 0; background-repeat: no-repeat; background-position: center;}
.finderManual li:nth-child(1):before{background-image: url(../images/common/icon_finder1.svg);}
.finderManual li:nth-child(2):before{background-image: url(../images/common/icon_finder2.svg);}
.finderManual li:nth-child(3):before{background-image: url(../images/common/icon_finder3.svg);}
.finderManual li:after{display: block; content: ''; position: absolute; top: 100%; left: 50%; width: 14px; height: 15px; margin: 12px 0 0; background: url(../images/m/split.png); background-position: 0 0; background-size: 200px; transform: translateX(-50%);}
.finderManual li:last-of-type:after{display: none;}
.finderManual li + li{margin-top: 39px;}

/*비자리스트*/
.visaList .inBox{position: relative; display: block; width: 100%;}
.visaList .name{display: block; font-size: 0;}
.visaList .name .icon{width: 50px; height: 50px; background-image: url(../images/m/icon_visa.png); background-repeat: no-repeat; background-size: 150px}
.visaList .name em{font-size: 17px;}
.visaList .desc{display: block; margin-top: 12px; color: #666; font-size: 13px; line-height: 1.7;}
/*비자icon*/
.visa01 .icon{background-position: 0 0;}								/*01.관광단기방문*/
.visa02 .icon{background-position: 0 25%;} 					/*02.전문직취업*/
.visa03 .icon{background-position: 0 50%;} 					/*03.투자*/
.visa04 .icon{background-position: 0 75%;} 					/*04.방문취업*/
.visa05 .icon{background-position: 0 100%;} 				/*05.연수*/
.visa06 .icon{background-position: 50% 0;} 					/*06.치료요양*/
.visa07 .icon{background-position: 50% 25%;}			/*07.주재*/
.visa08 .icon{background-position: 50% 50%;} 			/*08.무역경영*/
.visa09 .icon{background-position: 50% 75%;} 			/*09.가족방문동거*/
.visa10 .icon{background-position: 50% 100%;}		/*10.비전문직취업*/
.visa11 .icon{background-position: 100% 0;} 				/*11.유학어학연수*/
.visa12 .icon{background-position: 100% 25%;} 		/*12.취재종교*/
.visa13 .icon{background-position: 100% 50%;} 		/*13.재외동포*/
.visa14 .icon{background-position: 100% 75%;} 		/*14.결혼이민*/
.visa15 .icon{background-position: 100% 100%;} 	/*15.외교공무*/
/*part*/
.visaList.part li + li{margin-top: 10px;}
.visaList.part .inBox{padding: 18px 22px 20px; border: 1px solid #dadada}
.visaList.part .name{background: url(../images/m/arrow_right.png) no-repeat right center; background-size: 9px;}
.visaList.part .name em{margin-left: 4px; font-size: 17px; line-height: 50px}
/*effect*/
.visaList.part li .inBox:before,
.visaList.part li .inBox:after{display: block; content: ''; position: absolute; width: 0; height: 0; opacity: 0; transition: .1s;}
.visaList.part li .inBox:before{top: -1px; left: -1px; border-top: 1px solid #c6464b; border-left: 1px solid #c6464b;}
.visaList.part li .inBox:after{bottom: -1px; right: -1px; border-bottom: 1px solid #c6464b; border-right: 1px solid #c6464b;}
.visaList.part li .inBox:active:before,
.visaList.part li .inBox:active:after{width: 100%; height: 100%; opacity: 1;}
/*total*/
.visaList.total{margin: 0 -20px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada}
.visaList.total > li + li{border-top: 1px solid #dadada}
.visaList.total .inBox{height: 45px; padding: 0 19px; text-align: left; outline: 0; overflow: visible;}
.visaList.total .icon{width: 24px; height: 24px; background-image: url(../images/m/icon_visa_s.png); background-repeat: no-repeat; background-size: 72px;}
.visaList.total .name{position: relative;}
.visaList.total .name em{margin-left: 12px; font-size: 15px; line-height: 24px; font-weight: 400; color: #333}
.visaList.total .name:before{display: block; content: ''; position: absolute; top: 0; right: 0; width: 15px; height: 100%; background: url(../images/arrow_visalist.png) no-repeat center; transition: .2s}
.visaList.total .open .name:before{transform: rotate(180deg);}
.visaList.total .open .name em{font-weight: 500}
.visaList .visaType{display: none; padding: 0 20px; background-color: #f4f4f4}
.visaList .visaType li{background: url(../images/arrow_visalist2.png) no-repeat right 6px center;}
.visaList .visaType li + li{border-top: 1px solid #fff}
.visaList .visaType li a{display: block; padding: 10px 11px; line-height: 1.45}



/*신용카드*/
.cardList{margin: 14px -3px -6px; font-size: 0;}
.cardList li{display: inline-block; width: calc(50% - 6px); margin: 0 3px 6px; padding: 16px 0; border: 1px solid #dadada; text-align: center;}
.cardList li span{width: 47px;}
.cardList li p{margin-top: 4px; font-size: 11px; color: #666;}

.processList{position: relative; padding-left: 25px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada}
.processList:before{display: block; content: ''; position: absolute; top: 0; left: 9px; width: 1px; height: 100%; background-color: #dadada}
.processList li{position: relative; min-height: 80px; padding: 10px 6px; font-size: 13px;}
.processList li + li{border-top: 1px solid #e4e4e4}
.processList li:last-of-type .desc strong{color: #467fc6; font-weight: 500}
.processList i{position: absolute; top: 50%; left: -25px; display: block; width: 18px; height: 18px; margin: -6.5px 0 0; font-style: normal; font-size: 12px; font-weight: 500; line-height: 18px; color: #fff; background-color: #adadad; border-radius: 50%; text-align: center;}
.processList .top{padding-bottom: 6px; line-height: 17px; font-size: 0;}
.processList .top span{padding-left: 20px; font-size: 12px; background: url(../images/icon_person.png) no-repeat; background-size: 17px auto}
.processList .top span.typeBlue{background-position: 0 -17px; color: #467fc6}
.processList .top span.typeRed{background-position: 0 -34px; color: #c6464b}
.processList .top span.typeGreen{background-position: 0 -51px; color: #31abaf}
.processList .top span + span{margin-left: 12px;}
.processList .desc strong{display: block;}
.processList .desc p{margin-top: 3px; color: #666; font-size: 12px}
.processList .arrowN{display: inline-block; width: 21px; height: 11px; margin-top: 3px; background: url(../images/arrow_visalist2.png) no-repeat center; text-indent: -9999px; opacity: .7}
.processList + p{margin-top: 20px;}

.txtTable{border-bottom: 1px solid #dadada}
.txtTable tbody tr{border-top: 1px solid #dadada;}
.txtTable tbody tr > *{display: block; width: 100%;}
.txtTable tbody th{padding: 7px 12px; background-color: #f4f4f4; font-size: 14px; font-weight: 500; line-height: 22px; vertical-align: top; text-align: left; word-break: keep-all;}
.txtTable tbody th span{font-size: 12px; color: #666}
.txtTable tbody td{padding: 16px 12px; line-height: 1.4;}
.txtTable .imgWrap{margin: 14px 0 10px; text-align: center;}
.txtTable .imgWrap p{margin-top: 3px; color: #666; text-align: center;}
.txtTable .listDot{margin: 0 0 4px;}
.txtTable * + .listDot{margin-top: 2px;}
.txtTable .divBox{margin: 8px 0 10px -8px;}
.txtTable .btnVisaMenu{height: 30px; padding: 0 10px; margin: -9px 0 -7px 8px; line-height: 28px; border: 1px solid #999;}
.txtTable + h3{margin-top: 40px;}

.btnManual{padding: 6px 0 12px;}
.btnManual a{position: relative; display: block; width: fit-content; padding-left: 22px; color: #333; font-size: 14px; line-height: 24px; background: url(../images/m/icon_document.png) no-repeat left center; background-size: 16px;}
.btnManual a:after{display: inline-block; content: ''; width: 7px; height: 24px; margin-left: 7px; background: url(../images/arrow_visalist2.png) no-repeat center; vertical-align: top;}
.btnManual a + a{margin-top: 3px;}

ul[class*="list"]{text-align: left}
ul[class*="list"] > *{position: relative; word-break: keep-all; line-height: 1.4;}
ul[class*="list"] > *::before{display: initial; position: absolute; left: 0;}
.listDot{margin-top: 10px;}
.listDot > *{padding-left: 6px; color: #333}
.listDot > * + *{margin-top: 2px;}
.listDot > *::before{content: ''; width: 2px; height: 2px; background: #8a8a8a; top: 8px;}
.listDash > *{padding-left: 5px;}
.listDash > *::before{content: '-'; top: 0px; line-height: 1.4;}
.listNum{margin-top: 10px;}
.listNum > li{position: relative; padding-left: 16px; color: #666;}
.listNum > li span{color: #333}
.listNum > li i{position: absolute; top: 0; left: 0; display: inline-block; width: 13px; height: 13px; margin: 3px 4px 0 0; background-color: #adadad; border-radius: 50%; font-size: 11px; line-height: 13px; color: #fff; font-style: normal; text-align: center;}
.listNumber{margin: 14px 0 0 12px; list-style: decimal;}
.listNumber > li + li{margin-top: 10px;}
.listNum2 > li{margin-bottom: 2px; padding-left: 13px; text-indent: -13px;}
.listNum2 > li ul{text-indent: 0;}

.titleDot{position: relative; margin-bottom: 7px; font-weight: 500;}
.titleDot:before{display: inline-block; content: ''; width: 2px; height: 2px; margin-right: 3px; background-color: #636363; vertical-align: super;}
.txtDash{position: relative; padding-left: 5px;}
.txtDash:before{display: block; content: '-'; position: absolute; top: 0; left: 0;}

/*검색결과*/
.resultTxt{color: #666; font-size: 15px}
.resultTxt b{color: #333; font-weight: 500}
.searchResult{margin-top: 20px; border-bottom: 1px solid #dadada}
.searchResult li{padding: 8px 0 14px; border-top: 1px solid #dadada;}
.searchResult li a{padding: 7px 9px; font-size: 14px; line-height: 1; font-weight: 500;}
.searchResult li a:after{display: inline-block; content: ''; width: 7px; height: 14px; margin: 0 0 0 7px; background: url(../images/arrow_visalist2.png) no-repeat center; background-size: 7px auto; vertical-align: top}
.searchResult li a em{display: inline-block; line-height: 14px;}
.searchResult li p{display: -webkit-box; padding: 0 9px 0 20px; font-size: 13px; line-height: 1.38; color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}

/*비자전체리스트*/
.table.visaAll{table-layout: fixed;}
.visaAll td{vertical-align: middle; text-align: left;}
.visaAll td:first-of-type{white-space: nowrap;}
.visaAll td:last-of-type{text-align: center;}
.visaAll td p{display: inline-block; text-align: left;}
.visaAll td a{display: inline-block; min-width: 50px; background: url(../images/arrow_visalist2.png) no-repeat right center; text-align: left;}

/*비자 상세 내용*/
.visaDesc{margin: 6px 0 12px; padding: 10px 8px; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; line-height: 1.4}
.visaDesc p.txt{margin: 3px 0;}
.visaDesc + .addTxt{padding: 0 8px; line-height: 1.4}

/*테두리박스*/
.divBox{padding: 12px; margin-bottom: 24px; border: 1px solid #dadada; font-size: 12px;}
.divBox p.text{font-size: 13px; line-height: 21px}

/* popup */
	.popWrap{display: none; position:absolute;top:0;left:0;width:100%;height:100%; z-index: 1000}/*레이어박스높이가짧을경우:fixed*/
	.popWrap .popDim{position:fixed;top:0;left:0;width:100%;height:100%;background:black;opacity:0.7;}
	.popWrap .popBox{position: fixed; top: 50%; left: 50%; width: 90%; padding-bottom: 30px; background-color: #fff; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%)}
	.popWrap .closePopBtn{position: absolute; bottom: 100%; right: -10px; width: 40px; height: 40px;background: url(../images/common/btn_x_white.svg) no-repeat center; background-size: 20px; text-indent: -9999px; outline: 0}
	.popWrap .popArea{padding: 20px 10px 0;}
	.popWrap .titleWrap{padding: 12px 30px 11px; border-bottom: 1px solid #dadada; text-align: center;}
	.popWrap h2{font-size: 18px; font-weight: 500; line-height: 1.4}
	.popWrap h3{margin-bottom: 12px; font-size: 15px; line-height: 20px; font-weight: 500;}
	.popWrap .scrollBox{max-height: 50vh; overflow-y: auto;}
	.popWrap .btnGroup{margin: 30px auto 0; text-align: center;}
	
	.countryList table thead tr:nth-of-type(2) th{font-size: 12px;}
	.countryList table th{font-size: 13px;}
	.countryList table td{font-size: 12px; vertical-align: middle;}
	.countryList table td > p{padding: 0 5px; line-height: 1.4;}
	.countryList table td:first-of-type p{text-align: left;}

	/*small popup*/
		.openPopS{outline: 0;}
		.popS.popWrap{top: 100%; right: 0; left: inherit; width: auto; height: auto; min-width: 240px; max-width: 400px; text-align: left; z-index: 5;}
		.popS .closePopBtn{position: absolute; top: 0; right: 0; width: 44px; height: 43px;background: url(../images/common/btn_x_white.svg) no-repeat center; background-size: 17px; text-indent: -9999px; outline: 0}
		.popS .scrollBox{overflow-y: scroll; max-height: auto}
		.popS .popArea{padding: 0; background: #fff; border: 1px solid #7f94a9; box-shadow: 10px 10px 10px rgba(0,0,0,0.1)}
		.popS .popTitle{padding: 11px 20px 12px; background-color: #7f94a9;}
		.popS .popTitle p{color: #fff; font-size: 17px; line-height: 26px}
		.popS .popCont{padding: 20px;}
		.popS .popCont .search{display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #dadada}
		.popS .popCont .search span.txt{margin-right: 10px;}
		.popS .popCont .search .inpT{width: 100%}
		.popS .selectItem p + p{margin-top: 10px;}
		.popS .selectItem.nation{width: 360px; height: 95px;}
		.popS .selectedList{margin-top: 20px; padding: 16px 13px; background-color: #f4f4f4; height: 95px; overflow-y: scroll;}
		.popS .selectedList span{font-size: 13px;}
		.popS .selectedList span + span{margin-left: 4px;}
		.popS .btnGroup.btm{margin-top: 20px;}
		.box .popS{margin: 0 30px 0 0; transform: translateY(-12px);}


/*미디어쿼리*/
@media screen and (min-width:360px){
	.topVisual .desc{height: 76px;}
}

