@charset "utf-8";

/* common */
	html{overflow-y: scroll;}
	body{font-size: 14px;}
	a, button, input{font-size: 14px}
	body.hidden{overflow: hidden}

	/*레이아웃*/
	.inner{width: 1200px; margin: 0 auto;}

.header{position: relative; border-bottom: 1px solid #cecece;}
.header > .inner{position: relative; padding: 17px 0;}
.header h1{display: inline-block;}
.header h1 a{display: block; font-size: 20px; font-weight: 700; line-height: 36px; color: #223666}
.header .btnSerach{width: 36px; height: 36px; background: url(../images/btn_seach.png) no-repeat center; text-indent: -9999px;}
.header .gnb{display: inline-block; margin-left: 66px;}
.header .gnb li{display: inline-block;}
.header .gnb li + li{margin-left: 35px;}
.header .gnb li a{padding: 10px 0 7px; font-size: 16px; transition: .1s}
.header .gnb li:hover a{color: #000}
.header .gnb li.active a{color: #b62232; border-bottom: 3px solid #b62232;}
.header .topMenu{position: absolute; top: 17px; right: 0px; font-size: 0;}
.header .topMenu > *{position: relative;}
.header .topMenu > * + *{margin-left: 10px;}
.header .topMenu > * + *:before{position: absolute; top: 11px; left: -4px; display: block; content: ''; width: 1px; height: 12px; background-color: #ccc;}
.header .topMenu select{padding: 8px 20px 10px 8px; background: #fff url(../images/selectbox2.png) no-repeat right 6px top 13px;}
.header .topMenu option{background-color: #f5f6fa; text-align: right;}
.header .topMenu .btnSerach{margin-right: -7px}

.header .searchTop{display: none; position: absolute; top: 100%; left: 0; width: 100%; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; z-index: 10}
.header .searchTop .inner{position: relative; padding: 32px 50px 34px 0;}
.header .searchTop .searchArea{position: relative; z-index: 9; background-color: #f8f8f8;}
.header .searchTop .searchBox{display: table; width: 100%; border-bottom: 1px solid #000; font-size: 0;}
.header .searchTop .inputWrap{display: table-cell; width: 100%;}
.header .searchTop input[type="text"]{width: 100%; height: 42px; padding: 0 10px; font-size: 15px; color: #666; background-color: #f8f8f8;}
.header .searchTop .btnSerach{display: inline-block; width: 44px; height: 42px;}
.header .searchTop .btnClose{display: block; width: 26px; height: 26px; position: absolute; top: 14px; right: -4px; background: url(../images/btn_close_search.png) no-repeat center; text-indent: -9999px;}
.header .searchTop .dimmed{position: fixed; top: 71px; left: 0; width: 100%; height: 100%; background: #000; opacity: .7; z-index: 8}

.footer{padding: 60px 0; background-color: #efefef; border-top: 1px solid #dcdcdc; text-align: center;}
.footer .inner{color: #666;}
.footer strong{display: block;}
.footer address{margin-top: 18px; font-size: 13px;}
.footer .address{font-size: 13px;}
.footer .copy{margin-top: 8px; font-size: 12px; font-weight: 300}

.topVisual{padding: 0 0 100px; background-color: #164085; color: #fff; text-align: center;}
.topVisual .inner{padding: 60px 0 27px;}
.topVisual .title{font-size: 28px;}
.topVisual .desc{padding: 16px 0 0; line-height: 22px}
.topVisual .linkMore{margin: 18px 0 0; padding: 5px}
.topVisual .linkMore:after{content: ''; display: inline-block; width: 24px; height: 14px; margin-left: 6px; background: url(../images/btn_arrow_link.png) no-repeat center top; vertical-align: middle;}

.quickFinder{width: 1200px; margin: -100px auto 0; padding: 48px 0 58px; background-color: #fff; box-shadow:  0 0 32px rgba(109,109,109,0.2)}
.quickFinder ul{width: 600px; margin: 0 auto; border: 1px solid #edeef5; border-radius: 16px; font-size: 0; box-shadow:  0 0 32px rgba(109,109,109,0.14)}
.quickFinder ul li{display: inline-block; width: 33.3333%; color: #666; border-radius: 16px; text-align: center; overflow: hidden;}
.quickFinder ul li span{display: block; width: 100%; font-size: 13px; line-height: 28px; text-transform: uppercase;}
.quickFinder ul li span b{padding-left:6px; font-size: 16px;}
.quickFinder ul li.active{position: relative; z-index: 1; height: 30px; margin: -1px 0;}
.quickFinder ul li.active span{color: #fff; line-height: 30px;
	background: #dd6065;
	background: -moz-linear-gradient(left,  #dd6065 0%, #961b1f 100%);
	background: -webkit-linear-gradient(left,  #dd6065 0%,#961b1f 100%);
	background: linear-gradient(to right,  #dd6065 0%,#961b1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd6065', endColorstr='#961b1f',GradientType=1 );
}

.searchTxt{margin: 40px 0 0; text-align: center; font-size: 0;}
.searchTxt > p{position: relative; display: inline-block;}
.searchTxt span, 
.searchTxt strong{font-size: 16px; line-height: 42px}
.searchTxt strong{margin-left: 22px;}
.searchTxt select{
	margin: 0 18px 0 16px; min-width: 220px; height: 42px; padding: 0 40px 0 14px; border: 1px solid #dd5c61; border-radius: 4px; font-size: 16px; font-weight: 500; line-height: 40px;
	background: #fff url(../images/selectbox1.png) no-repeat right 14px center;
}

.btnSerachDetail{position: absolute; top: 0; left: 100%; height: 40px; padding: 0 30px 0 10px; margin-left: 20px; color: #bf3f44; background: url(../images/selectbox1.png) no-repeat right 10px center; white-space: nowrap;}

.searchDetail{padding-top: 50px;}
.searchDetail span{margin-left: 20px; font-size: 13px; line-height: 16px;}
.searchDetail div{display: inline-block;}
.searchDetail div + div{margin-left: 21px; border-left: 1px solid #dadada;}









/*어드민페이지*/
.adminPage h3{margin-bottom: 14px; font-size: 16px; font-weight: 700}
.adminPage h4{margin: 20px 0 16px; padding-left: 20px; font-weight: 500;}
.adminPage .shapeRequire{color: #bf3f44; font-weight: 400;}
.adminPage .header h1 a{font-size: 21px; font-weight: 500; color: #333}
.adminPage .header .gnb{margin-left: 40px;}
.adminPage .header .gnb li.active a{color: #1a6fa0; border-color: #1a6fa0; font-weight: 500}

.adminPage .aside{height: 100%; min-height: calc(100vh - 71px); float: left; background-color: #fafafa;}
.aside .lnb{border-bottom: 1px solid #ebebeb}
.aside .lnb li > a, 
.aside .lnb li > span{display: block; padding: 0 16px; cursor: pointer;}
.aside .lnb > li + li{border-top: 1px solid #ebebeb}
.aside .lnb > li > a,
.aside .lnb > li > span{padding-top: 1px; line-height: 40px;}
.aside .subM{padding: 10px 0; background-color: #ebebeb;}
.aside .subM > li > a{padding: 6px 24px 6px 22px; font-size: 13px;}
.aside .lnb > li.active > span{color: #1a6fa0; font-weight: 500}
.aside .subM > li.active > a{color: #1a6fa0;}

.adminPage .cont{margin-left: 150px; padding: 22px 0 0 20px;}
.adminPage .cont h3{}
.searchTable{width: 100%; border-top: 1px solid #999; border-bottom: 1px solid #999; font-size: 0;}
.searchTable li{width: 100%;}
.searchTable li .cell{display: inline-block;}
.searchTable li:nth-child(n+2){border-top: 1px solid #dadada;}
.searchTable li .title{display: inline-block; width: 140px; padding: 12px 30px 12px 22px; font-size: 14px; line-height: 36px; background-color: #f4f4f4;}
.searchTable li .box{display: inline-block; min-height: 60px; padding: 12px 30px 12px 14px;}
.searchTable li .box .inputD{margin-top: 10px;}

.searchTable input[type="text"]{width: 140px; height: 36px; padding: 0 10px; border: 1px solid #d3d3d3; transition: border .1s;}
.searchTable input[type="text"]:focus{border-color: #999;}
.searchTable button{width: 88px; height: 36px; color: #fff; font-weight: 700; line-height: 36px; background-color: #777; transition: background .1s;}
.searchTable button:focus{background-color: #666;}
.searchTable input[type="text"] + button{margin-left: 8px;}
.searchTable .inp.wide{width: 412px;}

.searchTable .inputD + .inputD{margin-left: 16px;}
.searchTable .inputD label{position: relative; display: inline-block; padding-left: 23px; font-size: 13px; line-height: 16px;}
.searchTable .inputD span.icon{position: absolute; top: 0; left: 0; display: block; width: 16px; height: 16px;}
.searchTable .inputD input.inp{position: absolute; top: 1px; left: 1px; width: 14px; height: 14px;}
.searchTable .inputD input[type="radio"] + .icon{background: url(../images/radio1.png);}
.searchTable .inputD input[type="radio"]:checked + .icon{background-position: 0 -16px;}




	.spaceLine{display: table; width: 100%}
	.spaceLine > *{display: table-cell; vertical-align: middle}
	.spaceLine > *:first-child{text-align: left}
	.spaceLine > *:last-child{text-align: right}	
	.termArea{max-height: 162px; padding: 20px; border: 1px solid #ced2d6; font-size: 13px; line-height: 20px; text-align: left; overflow-y: auto}	
	.emptyBox{padding: 150px 0; border-top: 1px solid #b3b8bc; border-bottom: 1px solid #b3b8bc}
	.sectionWrap + .emptyBox{margin: 20px 0 0; padding: 100px 0 150px; border: 0; background-color: #fff;}
	.section + .emptyBox{margin: 20px 0 0; padding: 100px 0 150px; border-top: 1px solid #e7e8ea; border-bottom: 0; background-color: #fff;}
	.emptyBox .txt{padding-top: 84px; line-height: 1.4; background-size: auto 80px}
	.emptyBox + .section{border-top: 1px solid #e7e8ea;}
	.emptyBox .btnBlue{margin: 20px 0 0;}
	/*탑버튼*/
	.topButtonArea{position: absolute; left: 50%; bottom: 0; width: 1200px; margin-left: -600px;}
	.topButtonArea.fix{position: fixed; bottom: 30px;}
	.backTop{display: block; position: absolute; bottom: 0; right: 8px; z-index: 999; width: 38px; height: 38px; text-indent: -9999px; background: #2a2b2c url(../images/btn_arrow_top.png) no-repeat top 14px center; background-size: 18px auto; transition: background .1s}
	.backTop:active{background-color: #ccc}


	/*List*/
		ul[class*="list"]{text-align: left}
		ul[class*="list"] > *{position: relative; word-break: keep-all; line-height: 1.3}
		ul[class*="list"] > * + *{margin-top: 6px;}
		ul[class*="list"] > *::before{display: block; content: ''; position: absolute; top: 0; left: 0}
		ul.listDot > *{padding-left: 10px;}
		ul.listDot > *::before{content: '·';}		
		ul.listNum{list-style: decimal;}
		ul.listNum > *{padding-left: 4px; line-height: 1.6}
		ul.listNum > * + *{margin-top: 8px}
		ul.listNum > *::before{display: none;}
		ul.listSqure > *{padding-left: 10px;}
		ul.listSqure > *::before{top: 7px; width: 4px; height: 4px; background-color: #acafb2}
		ul.listWran{text-align: left}
		ul.listWran > *{padding-left: 17px;}
		ul.listWran > *::before{content: '※';}

	/*Button*/
	

/* form */
	input[type="submit"], 	input[type="button"]{cursor: pointer}
	[class*="FormWrap"] .inputTxt{width: 500px}
	/* text */
	.inputTxt{height: 42px; padding: 0 16px; font-size: 15px}
	.inputTxt:only-child{max-width: 500px}
	/* checkbox */
	.inputCheckWrap{height: 16px;}
	.inputCheckWrap label input{width:14px; height: 14px}
	.inputCheckWrap label{min-width: 21px; min-height: 16px; padding-left: 24px; font-size: 13px; line-height: 16px; background:url(../images/checkbox.png) 0 0 no-repeat}
	.inputCheckWrap.active label{background-position: 0 -16px}
	/* radios */
	.inputRadioWrap{height: 20px}
	.inputRadioWrap label input{width: 18px; height: 18px}
	.inputRadioWrap label{padding-left: 30px; font-size: 15px; line-height: 20px; background:url(../images/radio.png) 0 0 no-repeat;}
	.inputRadioWrap.active label{background-position: 0 -20px}
	/* selectbox */
	.selectBoxWrap select{width: 150px; height: 42px; padding: 0 42px 0 16px; font-size: 15px;}
	.selectBoxWrap select{background-position: right 16px center;}
	.selectBoxWrap select option{font-size: 15px;}
	/* file */
	.inputFileWrap{position: relative}
	.inputFileWrap .inputTxt{width: 500px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}
	.inputFileWrap label{position: absolute; top: 0; left: 0; display: block; width: 100%; height: 42px; z-index: 1}
	.inputFileWrap label .btnBorder{height: 42px}
	.inputFileWrap .inputFile{-moz-appearance: none; -webkit-appearance: none; appearance: none; -webkit-border-radius: 0;width: 0px; height: 0px; line-height: 42px; opacity: 0}
	/* textarea */
	.textArea{max-width: 800px; min-height: 300px; padding: 16px; font-size: 15px;}
	/* calender */
	.datePicker{font-size: 0; vertical-align: top}
	.datePicker .range{display: inline-block; width: 50px; font-size: 15px; line-height: 42px; text-align: center}
	.datePicker .calenderBox{position: relative}
	.datePicker .calenderBox button{position: absolute; top: -1px; right: 0; width: 100%; height: 100%; background: url(../../global/images/icon_calendar.png) no-repeat right 20px center; text-indent: -9999px}
	.datePicker .calenderBox .inputTxt{display: inline-block; width: 150px; padding-right: 54px; cursor: pointer}
	/* placeholder */
	::-webkit-input-placeholder{font-size: 15px}
	::-moz-placeholder{font-size: 15px}
	:-ms-input-placeholder{font-size: 15px}
	:-moz-placeholder{font-size: 15px}

	/* 가입,수정폼 */		
		.tableLine{display: table; width: 100%; margin: 20px 0 0; font-size: 0; text-align: left}
		.tableLine .title{width: 160px; font-size: 15px; line-height: 42px; vertical-align: top}
		.tableLine .title span{display: inline-block; margin: 0 0 0 3px; color: #acafb2}
		.tableLine .box{display: table-cell; width: 100%; min-height: 42px; font-size: 15px}
		.tableLine .box .txt{line-height: 42px}
		.tableLine .box.choice .formLine{margin: 10px 0 0}		
		.tableLine .addTxt{margin: 8px 0 0; font-size: 13px; color: #444}
		.tableLine .listDot{margin: 20px 0 0; color: #7e7f82}
		.formLine{width: 100%; font-size: 0}
		.formLine + .formLine{margin: 11px 0 0}	
		.formLine.inputCheckWrap{position: relative; text-align: left}
		.tableLine .inputCheckWrap + .inputCheckWrap{margin: 0 0 0 30px}
		.formLine.phoneNum > *{display: inline-block}
		.formLine.phoneNum .inputTxt{width: 340px; margin-left: 10px}
		.formLine .inTxt{position: relative}
		.formLine .inTxt:after{display: block; content: '원'; width: 30px; height: 100%; position: absolute; top: 0; right: 0; font-size: 15px; color: #acafb2; line-height: 44px}
		.formLine .inTxt .inputTxt{width: 150px; padding-right: 32px; text-align: right}
		.selectBoxWrap + .selectBoxWrap{margin-left: 10px}
		.inputRadioWrap{/*margin: 11px 0 10px;*/}
		.inputRadioWrap + .inputRadioWrap{margin-left: 34px}
		.inputRadioWrap + .inputTxt{margin-left: 34px}
		.inputRadioWrap.etc{display: block; height: auto; margin:  2px 0 0}
		.inputRadioWrap.etc label{display: inline-block; margin-right: 34px}

	/*관리,정보폼*/
		.infoForm{width: 700px; border: 1px solid #e7e8ea}
		.infoForm li{display: table; width: 100%; line-height: 34px}
		.infoForm li + li{border-top: 1px solid #e7e8ea}
		.infoForm .title{display: table-cell; width: 194px; padding: 8px 24px; background-color: #f5f5f5}
		.infoForm .box{display: table-cell; padding: 8px 20px}
		.infoForm .box > span{width: 100%}
		.infoForm .box.choice{vertical-align: middle}
		.infoForm .box .txt{width: 100%; min-height: 34px; padding: 5px 4px; line-height: 24px; word-break: break-word}
		.infoForm .box .priceTxt{font-weight: 700}
		.infoForm .box .priceTxt span{color: #acafb2; font-size: 13px; font-weight: 400}
		.infoForm .box .inputTxt{width: 100%; height: 33px; padding: 0 8px}
		.infoForm .box .formLine > span{vertical-align: middle}
		.infoForm .box select{height: 40px; margin: -5px 0 -4px;}
		.infoForm .box [class*="btn"]{height: 34px; line-height: 34px; width: auto; padding: 0 12px; vertical-align: top}
		.infoForm .box input[type="text"]{max-width: 100%}
		.infoForm .box input[type="password"]{max-width: 300px}
		.infoForm.white{border: 0;}
		.infoForm.white li + li{border-top: 0;}
		.infoForm.white .title{width: 160px; padding-right: 10px; background-color: #fff; font-weight: 500}



/* paginate */
	.paging{padding: 0 0 70px;}
	.paging a + a{margin: 0 0 0 5px}
	.paging a:hover{border-color: #2a2b2c; color: #2a2b2c}

/* popup */
	.popWrap{position:absolute;top:0;left:0;width:100%;height:100%; z-index: 1000}/*레이어박스높이가짧을경우:fixed*/
	.popWrap .popDim{position:fixed;top:0;left:0;width:100%;height:100%;background:black;opacity:0.6;filter:alpha(opacity=60)}
	.popWrap .popBox{position: fixed; top: 50%; left: 50%; text-align: center; background-color: #fff; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%)}
	.popWrap .popBox{min-width: 400px}
	.popWrap .btnClose{position: absolute; bottom: 100%; right: -20px; width: 72px; height: 72px; padding: 20px; background: url(../images/btn_close_pop.png) no-repeat center}
	.popWrap .popTop{padding: 15px 30px; background-color: #b3b8bc}
	.popWrap .popTop .title{color: #fff; font-size: 22px; font-weight: 400; line-height: 1.3}
	.popWrap .popCont{min-width: 410px; padding: 34px 50px 30px}
	.popWrap .btnGroup.btm{margin: 30px auto 0}
	.popWrap .btnGroup.btm .btn{min-width: auto; width: 150px; height: 42px; font-size: 15px; line-height: 42px}
	.popWrap .btnGroup.btm > * + *{margin-left: 10px}

/*미디어쿼리*/
@media screen and (max-width:1000px){}

